body {
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* =====  Dark Mode Styles */
body.dark-mode {
    background-color: #1a1a1a;
    color: #ffffff;
}

/* =====  Light Mode Styles */
body.light-mode {
    background-color: #ffffff;
    color: #000000;
}
body.light-mode a {
    color: #000000;
}
body.light-mode a:hover {
    color: #292929;
}
body.light-mode .name-links {
    color: #0095ff;
}
body.light-mode .menu-icon {
    color: #000000;
}
body.light-mode .thefooter {
    color: #e5e5e5;
}
body.light-mode .thefooter a {
    color: #e5e5e5;
}
body.light-mode .img-index-one {
    background-color: black;
    border-radius: 50%;
}
body.light-mode .sidebar {
    color: #e5e5e5;
    box-shadow: none;
}
body.light-mode .sidebarx {
    color: #e5e5e5;
    box-shadow: none;
    border-right: 2px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
body.light-mode .sidebar-a {
    color: #e5e5e5;
}
body.light-mode .sidebar-a:hover {
    color: white;
}
body.light-mode .theskill {
    color: #e5e5e5;
}
body.light-mode .theskill h3 {
    color: white;
}
body.light-mode .myproject {
    color: #e5e5e5;
}
body.light-mode .myproject h3 {
    color: white;
}
body.light-mode .myproject a {
    color: #e5e5e5;
}
body.light-mode .myproject a:hover {
    color: white;
}
body.light-mode #searchDiv {
    background-color: white;
}
body.light-mode #infoFilm {
    background-color: white;
}
body.light-mode .cont-search-result a {
    color: #e5e5e5;
}
body.light-mode .cont-search-result a:hover {
    color: white;
}
body.light-mode .result-search {
    color: #e5e5e5;
}
body.light-mode .icon-close-in-search {
    color: #000000;
}
body.light-mode .btmnavbar {
    background-color: rgb(122, 122, 122);
}