.thefooter {
    background-color: #0381ff;
    width: 100%;
    height: 200px;
    text-align: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 0px;
}

.footeratas {
    margin-top: 10px;
}

.footertengah {
    margin-top: 25px;
}

.footerbawah {
    margin-top: 30px;
}

.logoinfooter {
    font-size: 25px;
}

.footertengah a {
    text-decoration: none;
    font-size: 14px;
}

.jarak-di-fb {
    width: 20px;
    height: 35px;
}

.katadi-fb {
    font-size: 12px;
}