.navbar {
    background-color: #0381ff;
    background-color: transparent;
    color: #fff;
    color: black;
    top: 0;
    width: auto;
    margin: 0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.name {
    font-size: 1.5em;
    font-weight: bold;
}

.name-links {
    text-decoration: none;
    color: white;
    color: #0095ff;
    cursor: pointer;
}

.menu-icon {
    margin-right: 15px;
    overflow-x: hidden;
    color: #ffffff;
}

.inilink {
    cursor: pointer;
}
#logolandd {
    cursor: not-allowed;
}

.btmnavbar {
    align-items: center;
    text-align: center;
    justify-content: center;
    color: transparent;
    width: 100%;
    height: 2px;
    background-color: rgb(189, 189, 189);
    margin-top: 3px;
    border-radius: 12px;
}

.sidebar {
    height: 47%; /* 40% */
    width: 0;
    position: fixed;
    top: 0;
    color: white;
    left: 0;
    margin-top: 65px;
    background-color: #2a86e1;
    background-color: #0095ff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 15px;
    z-index: 2;
    display: inline-block;
    overflow: hidden;
    border-top-right-radius: 7px;
    border-bottom-right-radius:  7px;
    box-shadow: 0px 0px 10px 12px rgba(0, 0, 0, 0.3);
}

.sidebar-a {
    padding: 5px 15px;
    text-decoration: none;
    font-size: 20px;
    color: #e2e2e2;
    display: block;
    transition: 0.3s;
}

.sidebarx {
    height: 25%; /* 40% */
    width: 0;
    position: fixed;
    top: 0;
    color: white;
    left: 0;
    margin-top: 65px;
    background-color: #2a86e1;
    background-color: #0095ff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 15px;
    z-index: 2;
    display: inline-block;
    overflow: hidden;
    border-top-right-radius: 7px;
    border-bottom-right-radius:  7px;
    box-shadow: 0px 0px 10px 12px rgba(0, 0, 0, 0.3);
}

.sidebar-a:hover {
    color: #f9f9f9;
}

.sbkecil {
    font-size: 12px;
}

.title-sidebar {
    font-weight: bold;
    color: white;
}

.jarak-sidebar {
    background-color: transparent;
    color: transparent;
    width: 40%;
    height: 55%;
}

.bawah-sidebar {
    padding: 5px 15px;
    font-size: 10px;
    color: #e2e2e2;
    transition: 0.3s;
    text-decoration: none;
}

.bawah-sidebar:hover {
    color: #f9f9f9;
}

.jarak-tipis-sb {
    height: 15px;
    width: 5px;
    color: transparent;
}

.waktusidebar {
    color: #e5e5e5;
    font-size: 10px;
    padding: 5px 15px;
}

.icon-in-sidebar {
    font-size: 16px;
}

#searchDiv {
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    top: 0;
    z-index: 9999;
    position: fixed;
    display: none;
    transition: display 0.5s ease;
}
.icon-close-in-search {
    font-size: 30px;
    margin-right: 20px;
    margin-top: 10px;
}
.cont-search-input {
    text-align: center;
    justify-content: center;
}
.cont-search-input p {
    margin: 5px;
}
.cont-search-input a {
    text-decoration: none;
    cursor: pointer;
}
.input-search {
    text-align: center;
    background-color: #0095ff;
    border: none;
    width: 450px;
    height: 35px;
    color: white;
    outline: none;
    border-radius: 3px;
}
.input-search:focus {
    border: none;
    outline: none;
}
.cont-search-result {
    text-align: center;
    position: relative;
}
.result-search {
    border-radius: 3px;
    width: 450px;
    height: auto;
    text-align: center;
    background-color: #0095ff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 5px 0 0 -225px;
    padding-top: 10px;
    padding-bottom: 15px;
    display: none;
}

/* === Untuk Hp === */
@media only screen and (max-width: 767px) {

    .sidebar {
        height: 48%; /* 40% */
    }

    .icon-close-in-search {
        font-size: 20px;
        margin-right: 10px;
        margin-top: 5px;
    }
    .cont-search-input p {
        margin: 3px;
    }
    .input-search {
        text-align: center;
        background-color: #0095ff;
        border: none;
        width: 80%;
        height: 25px;
        color: white;
        outline: none;
        border-radius: 3px;
    }
    .cont-search-result {
        text-align: center;
        position: relative;
    }
    .result-search {
        border-radius: 3px;
        width: 80%;
        height: auto;
        text-align: center;
        background-color: #0095ff;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 5px 0 0 -143px;
        margin: 5px 0 0 -40%;
        padding-top: 10px;
        padding-bottom: 15px;
    }

}