.center {
    text-align: center;
}

.hidden {
    display: none;
}

.typing-container-h {
    text-align: center;
    margin-top: 15px;
}

.typing-container-p {
    text-align: center;
    margin-top: -10px;
    margin-bottom: 50px;
}

#typing-text {
    display: inline-block;
    border-right: 2px solid #333; /* Garis imitasi kursor ketik */
    padding-right: 8px;
}

.cont-my-skill {
    width: 85%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.theskill {
    width: 400px;
    height: auto;
    background-color: #0381ff;
    margin: 15px;
    padding: 20px;
    border-radius: 5px;
}

.theskill h3 {
    margin: 0;
    margin-bottom: 7px;
}

.garislurus {
    width: 25%;
    height: 5px;
    background-color: #0381ff;
    color: transparent;
    text-align: center;
    justify-content: center;
    border-radius: 6px;
}

.the-project {
    width: 85%;
    justify-content: center;
    flex-wrap: wrap;
}

.myproject {
    width: 400px;
    height: auto;
    background-color: #0381ff;
    margin: 15px;
    padding: 20px;
    border-radius: 5px;
}

.myproject h3 {
    margin: 0;
    margin-bottom: 7px;
}

.myproject a {
    color: #ffffff;
    font-size: 14px;
}

.b-project-all {
    color: white;
    text-decoration: none;
}

.b-project-bots {
    color: white;
    text-decoration: none;
}
