.center {
    text-align: center;
}

.hidden {
    display: none;
}



/* =============== */
/* === FORMAT FONT */
.bold {
    font-weight: bold;
}
.normal {
    font-weight: normal;
}
.underline {
    text-decoration: underline;
}
.italic {
    font-style: italic;
}


/* ========= */
/* === WARNA */
.red {
    color: red;
}
.yellow {
    color: yellow;
}
.green {
    color: green;
}
.black {
    color: black;
}
.mycolor {
    color: #0095ff;
}



/* ====== */
.underline-red {
    text-decoration: underline;
    color: red;
}

.typing-container-h {
    text-align: center;
    margin-top: 15px;
}

.typing-container-p {
    text-align: center;
    margin-top: -10px;
    margin-bottom: 50px;
}

#typing-text {
    display: inline-block;
    border-right: 2px solid #333; /* Garis imitasi kursor ketik */
    padding-right: 8px;
}

.cont-my-skill {
    width: 85%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.theskill {
    width: 400px;
    height: auto;
    background-color: #0381ff;
    background-color: #0095ff;
    margin: 15px;
    padding: 20px;
    border-radius: 5px;
}

.theskill h3 {
    margin: 0;
    margin-bottom: 7px;
}

.garislurus {
    width: 25%;
    height: 3px;
    background-color: #0381ff;
    background-color: #0095ff;
    color: transparent;
    text-align: center;
    justify-content: center;
    border-radius: 6px;
    margin: 20px;
}

.the-project {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.cont-my-project {
    width: 85%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.myproject {
    width: 400px;
    height: auto;
    background-color: #0381ff;
    background-color: #0095ff;
    margin: 15px;
    padding: 20px;
    border-radius: 5px;
}

.myproject h3 {
    margin: 0;
    margin-bottom: 7px;
}

.myproject a {
    font-size: 12px;
}

.b-project-all {
    text-decoration: none;
}

.b-project-bots {
    text-decoration: none;
}

.b-project-website {
    text-decoration: none;
}

.bproject {
    text-decoration: none;
}

.bproject:hover {
    text-decoration: underline;
}

.cntindex {
    display: flex;
    align-items: center;
    text-align: center;
}

.cntindex img {
    margin-right: 50px;
}

.img-in-index-first {
    width: 200px;
    margin-left: 5%;
}

/* === Untuk Hp === */
@media only screen and (max-width: 767px) {
    .myproject {
        width: 200px;
        height: auto;
        background-color: #0381ff;
        background-color: #0095ff;
        margin: 15px;
        padding: 20px;
        border-radius: 5px;
    }
    .img-in-index-first {
        width: 125px;
    }
}