html {
    scroll-behavior: smooth;
}

body {
    color: #ffffff;
    margin: auto;
    font-family: Arial, sans-serif;
    background-color: #00507e;
    overflow-x: hidden;
}

header {
    width: 100%;
}

main {
    margin: 18px;
    margin-top: 55px;
}

p {
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 17px;
}

h3 {
    margin-bottom: 17px;
}